# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\marc\Nextcloud2\SalleURL\Disseny i programació orientada a objectes\S2-Projecte\DPOO-2021-SmartPiano-A8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
